@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" style="margin-bottom:15px">
    <div class="pull-left">
        <a class="btn btn btn-default" onclick="history.go(-1); return false;">Назад</a>
    </div>
    <div class="btn-group pull-right">
        @if (User.IsInRole("admin"))
        {
            @Html.ActionLink("Изменить", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })
            @Html.ActionLink("Удалить", "Delete", new { id = Model.Id }, new { @class = "btn btn-default" })
        }
    </div>
</div>
<div class="container">
    <div class="thumbnail">
        @RenderBody()
    </div>
</div>



