@{
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}
<div class="container" style="margin-bottom:15px">
    <div class="pull-left">
        <a class = "btn btn-lg btn-default"  onclick="history.go(-1); return false;">Back</a>
    </div>
    <div class="btn-group-lg pull-right">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-default" })
    </div>
</div>
<div class="container">
    <div class="thumbnail">
        @RenderBody()
    </div>
</div>



