@using DM.PR.WEB.Models;
@model IEnumerable<DepartmentNavViewModel>


<div>
    <ul>
        <li>
            @Ajax.ActionLink("ALL", "List", "Employees", new AjaxOptions { UpdateTargetId = "ListOfEmployees" })

        </li>
        @foreach (var item in Model)
        {
            <li>
                @Ajax.ActionLink(@item.Name, "List", "Employees", new { id = item.Id },
                                        new AjaxOptions { UpdateTargetId = "ListOfEmployees" })
            
            </li>
        }
    </ul>
</div>