@{
    ViewBag.Title = "DepartmentNavigation";
}

<div class="row">
    <div class="col-md-3" style="background-color:aliceblue">
        @Html.Action("Menu", "Navigation")
    </div>
    <div id="EmployeesList" class="col-md-9 pull-right ">

    </div>
</div>
<script src="~/Scripts/Navigation.js"></script>
