@model IReadOnlyCollection<DepartmentSelectModel>
@{
    int selectedId = ViewBag.departmentId;
    var selectedItem = Model.Where(m => m.Id == selectedId).Select(m => m.Name);
    string selectedValue = selectedId == 0 ? "Выберите отдел" : null;
}
<div>
    @Html.DropDownList("DepartmentId", new SelectList(Model, "Id", "Name", selectedItem), selectedValue, new { @class = "form-control " })
</div>

