@{
    ViewBag.Title = "Employees";
}

<div class="row">
    <div class="col-md-3">
        @Html.Action("Menu", "Nav")
    </div>
    <div class="col-md-9 pull-right ">
        @Html.Action("List")
    </div>
</div>
