@{
    ViewBag.Title = "Employees";
}

<div class="row">
    <div class="col-md-3">
        <div class="">
            @Html.Action("Menu", "Nav")
        </div>
       
    </div>
    <div class="col-md-9 pull-right ">
        @Html.Action("List", new { department = (string)null })
    </div>
</div>
