@model IEnumerable<DM.PR.WEB.Models.EmployeeListViewModel>


@{
    ViewBag.Title = "Employees";
}

<div class="row">
    <div class="col-md-offset-2 col-md-2">
        @Html.Action("Menu", "Departments")
    </div>
    <div class="col-md-6 ">
        @foreach (var item in Model)
        {
            @Html.Partial("EmployeeSummary", item)
        }
    </div>
</div>



