@model IEnumerable<Employee>


@{
    ViewBag.Title = "Employees";
}

@*<div class="row">
    <div class="col-md-3" style="background-color:aliceblue">
        @Html.Action("Menu", "Navigation")
    </div>
    <div class="col-md-9 pull-right ">
        @Html.Action("List")
    </div>
</div>*@


<div id="ListOfEmployees">
    @foreach (var item in Model)
    {
        @Html.Partial("EmployeeSummary", item)
    }
</div>


