
<div class="row">
    <div class="col-md-3" style="background-color:aliceblue">
        @Html.Action("Menu", "Navigation")
    </div>
    <div class="col-md-9 pull-right ">
        <div id="EmployeesList"></div>
        <div class="row">
            <div class="text-center">
                <ul class="pagination" id="paged"></ul>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/Employee/Navigation.js"></script>
}