@model  IReadOnlyCollection<DM.PR.Common.Entities.MaritalStatus>

<div>
    @Html.DropDownList("MaritalStatusId", new SelectList(Model, "Id", "Status"), "Нет сатуса", new { @class = "form-control" })
</div>

