@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-3" @*style="background-color:aliceblue*@">
        @Html.Action("ListOfAd", "Ad")
    </div>
    <div class="col-md-6">
        <p class="text-center">Hello!!</p>
    </div>
</div>



