@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-6">
        @Html.Action("ListOfAd", "Ad")
    </div>
    <div class="col-md-6">
        <p>Hello!!</p>
    </div>
</div>



