
<div class="row">
    <div class="col-md-3" @*style="background-color:aliceblue*@ ">
        @Html.Action("ListOfAd", "Advertising")
    </div>
    <div class="col-md-9">
        <h2 class="text-center"> Реестр кадров </h2>
        <p> Приложение позволяет просматривать и редактировать данные о сотрудниках организации, а так же информацию об отделах  в которых они работают.</p>
        <p> Система имеет возможность навигации по отделам и страницей поиска по конкретным критериям.</p>
        <p> Система обладает аутентификацией и авторизацией. А так же может работатьв 3-х режимах:</p>
        <ul>
            <li>Гость</li>
            <li>Модеатор</li>
            <li>Администратор</li>
        </ul>
    </div>
</div>



