@model IReadOnlyCollection<DM.PR.Common.Entities.Account.Role>
@{
    int number = ViewBag.number;
    int selectedId = ViewBag.selectedId;
    var selectedItem = Model.Where(m => m.Id == selectedId).Select(m => m.Name);
}

<div class="role">
    @Html.DropDownList($"Roles[{number}].Id", new SelectList(Model, "Id", "Name", selectedItem), new { @class = "form-control " })
</div>
                                                           