@model DM.PR.WEB.Models.MaritalStatus.MaritalStatusSaveViewModel

<h2 class="text-center"> Добавтье новое семейное положение</h2>
<br />

@using (Html.BeginForm("Save", "MaritalStatus", null, FormMethod.Post, new { @id = "AjaxForm", @redirect = Url.Action("Index") }))
{
    <div class="row">
        <div class="form-group">
            <div class="col-md-offset-4">
                @Html.TextBoxFor(model => model.Status, new { @class = "form-control", placeholder = "Введите семейное положение...." })
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="row text-center">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    <script src="~/Scripts/Common/Save.js"></script>
}
