@model IReadOnlyCollection<MaritalStatus>

<h2 class="text-center">Семейные положения сотрудников</h2>
<br />

<table class="table table-bordered text-center" style="background-color:white">
    <tr>
        <th class="text-center">
            Семейное положение
        </th>
        <th class="text-center">
            Действие
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Изменить", "Edit", new { id = item.Id }) /
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>

<div class="col-md-offset-11">
    @Html.ActionLink("Создать", "Create", null, new { @class = "btn btn-default" })
</div>
