@model  IReadOnlyCollection<DM.PR.Common.Entities.MaritalStatus>
@{
    int selectedId = ViewBag.maritalStatusId;
    var selectedItem = Model.Where(m => m.Id == selectedId).Select(m => m.Status);
    string selectedValue = selectedId == 0 ? "Выберите положение" : null;
}
<div>
    @Html.DropDownList("MaritalStatusId", new SelectList(Model, "Id", "Status", selectedItem), selectedValue, new { @class = "form-control" })
</div>

