@model IReadOnlyCollection<KindPhone>

<h2 class="text-center">Виды связи</h2>
<br />

<table class="table table-bordered text-center" style="background-color:white">
    <tr>
        <th class="text-center">
            Вид связи
        </th>
        <th class="text-center">
            Действие
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Kind)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) /
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>

<div class="col-md-offset-11">
    @Html.ActionLink("Создать", "Create", null, new { @class = "btn btn-default" })
</div>
