@model IEnumerable<string>
<div class="btn-group btn-group-lg btn-group-vertical ">
    @Html.ActionLink("ALL", "List", "Employee", htmlAttributes: new { @class = "btn btn-default" })
    @foreach (var link in Model)
    {
        @Html.RouteLink(link, routeValues: new { controller = "Emploee", action = "List", category = link },
                                htmlAttributes: new { @class = "btn btn-default" })
    }
</div>
