<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DataConnection"
      connectionString="Data Source=DESKTOP-1OSBSDG\SQLEXPRESS;Initial Catalog=PersonnelDB;User ID=Denchik;Password=1234"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAdService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8081/AdService.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IAdService" contract="AdServiceClient.IAdService"
          name="BasicHttpBinding_IAdService" />
    </client>
  </system.serviceModel>
</configuration>