<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DataConnection"
      connectionString="Data Source=DESKTOP-1OSBSDG\SQLEXPRESS;Initial Catalog=PersonDB;User ID=Denchik;Password=1234"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAdService"  maxReceivedMessageSize="25000000"
                 textEncoding="utf-8" transferMode="Streamed" messageEncoding="Text">
          <readerQuotas maxArrayLength="5000000"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8084/AdvertisingService.svc/AdService"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdService"
          contract="DM.AdvertisingService.Contracts.IAdService" name="BasicHttpBinding_IAdService" />
    </client>
  </system.serviceModel>
</configuration>