@model DepartmentCreateViewModel
@{
    int number = ViewBag.number;
}
<div class="row">
    <div class="col-md-7 Number">
        @Html.TextBoxFor(model => model.Phones[number], null, new { @class = "form-control", placeholder = "Введите номер...." })
    </div>
    <div class="col-md-5 Kind">
        @Html.ValidationMessageFor(model => model.Phones[number], "", new { @class = "text-danger" })
    </div>
</div>
