@model DM.PR.WEB.Models.DepartmentDeatailsViewModel

@{
    Layout = "~/Views/Shared/_Details.cshtml";
}

<div class="row">
    <div class="col-md-7 text-right " style="padding-top:20px">
        <div class="row">
            <div class="col-md-4  text-right">
                <span class="text-info">ParentDepartment:</span>
            </div>
            <div class="col-md-8 text-left">
                @Model.ParentName
            </div>
        </div>
        <div class="row">
            <div class="col-md-4  text-right">
                <span class="text-info">Department:</span>
            </div>
            <div class="col-md-8 text-left ">
                @Model.Name
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right">
                <span class="text-info">Phones:</span>
            </div>
            <div class="col-md-8 text-left">
                @{
                    if (Model.Phones != null) { Html.RenderPartial("ListOfPhones", Model.Phones); }
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right">
                <span class="text-info">Home address:</span>
            </div>
            <div class="col-md-8 text-left">
                @Model.Address
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right">
                <span class="text-info">Description:</span>
            </div>
            <div class="col-md-8 text-left">
                @Model.Description
            </div>
        </div>

    </div>

    <div class="col-md-6">
    </div>
</div>

