
<table class="table table-hover table-bordered " style="background-color:white">
    <thead>
        <tr class="text-center">
            <td>Id</td>
            <td>Имя</td>
            <td>Адресс</td>
            <td>Описание</td>
        </tr>
    </thead>
    <tbody id="tableData" class="text-center text-info tableClick" style="font-size:small; margin-bottom:2px"></tbody>
</table>

<div class="row">
    <div class="col-md-3">
        <ul class="pagination" id="paged"></ul>
    </div>

    <div class="col-md-1">
        <select id="pageSize" class="form-control">
            <option value="value">5</option>
            <option value="value">10</option>
            <option value="value">15</option>
        </select>
    </div>
    <div class="col-md-offset-3 col-md-5">
        <div class="row" id="buttonForm">
            <div class="col-md-3">
                @Html.ActionLink("Создать", "Create", null, new { @class = "btn btn-default" })
            </div>
            <div class="col-md-3">
                @Html.ActionLink("Удалить", "Delete", null, new { @class = "btn btn-default changing disabled" })
            </div>
            <div class="col-md-3">
                @Html.ActionLink("Изменить", "Edit", null, new { @class = "btn btn-default changing disabled" })
            </div>
            <div class="col-md-3">
                @Html.ActionLink("Подробнее", "Details", null, new { @class = "btn btn-default changing disabled" })
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/Scripts/Department/Pagin.js"></script>
    <script src="~/Scripts/Common/ModifyButtons.js"></script>
}
